sonar.jdbc.username={{ sonar_user_db }}
sonar.jdbc.password={{ sonar_pass_db }}
sonar.jdbc.url=jdbc:postgresql://{{ db_host }}/{{ sonar_db_name }}
sonar.path.data=/var/sonarqube/data
sonar.path.temp=/var/sonarqube/temp